
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Yellowtail&display=swap');

$fancy-font: "Yellowtail", serif;
$primary-font: "Oswald", sans-serif;

h1, h2, h3, .thanks {
    font-family: $fancy-font;
}

h1 {
    font-size: 4rem;
    letter-spacing: .2rem;
    line-height: 4rem;
    filter: drop-shadow(3px 3px 1px #00168C);
    color: #e74b6d;
    opacity: 70%;
}

h2 {
    font-size: 3rem;
    letter-spacing: .2rem;
    text-align: right;
    filter: drop-shadow(3px 3px 1px #e74b6d);
}

h3 {
    font-size: 3rem;
    filter: drop-shadow(3px 3px 1px #930000);
    text-transform: capitalize;
    margin: auto;
    padding-bottom: 2%;
}

p, body, button {
    font-family: $primary-font;
    color: #FFF;
}

nav li a {
    font-size: 1.5rem;
    color: #FFF;
}

nav .current-page {
    font-weight: bold;
    color: $highlight-color;
}

.thanks a {
    color: $punchy-pink;   
}

nav li a:hover, nav li a:active, .thanks a:hover {
    color: $highlight-color;
    transition: color 1.5s;
}

footer {
    line-height: 1.25rem;
}

.thanks, .thanks a {
font-size: 1.8rem;
text-align: center;
}

