
@media screen and (max-width: 768px) {
    .punchy-logo {
        transform: rotate(-25deg);
        margin-bottom: -10px;
    }

}

@media screen and (min-width: 769px)
{
.punchy-logo {
    transform: rotate(-30deg);
    margin-left: 15%;
    margin-bottom: -10%;
    }
}