
@media screen and (min-width: 320px) and (max-width: 767px) {
    
    .punchy-logo {
        transform: rotate(0deg);
        margin: auto;
    }

    i {
        margin-bottom:10%;
    }

    h1 {
        opacity: 100%;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 1%;
    }

    .input-field, .select-wrapper, .can-you-complete-card {
        font-size: 1rem;
    }

    main {
        max-width: 100%;
        background-color: $primary-color;
    }

    input, select {
        max-width: 17.5rem;
        margin-left: 3%;
        background-color: $form-bg;
    }

    .can-you-complete-card {
        width: 18rem;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .checkbox > span {
        padding: 0;
    }
    
    .checkbox > input {
        margin-left: -2%;
    }

    button:active, button:focus {
        background-color: $punchy-red;
    }
}

// I tried some tweaks to make the checkmark align properly at this resolution, but none of my styles would take - something going on with media queries not recognizing certain event states, maybe?

    .checkbox > input:checked + span::before {
        content: '\2713';
        left: 0.5rem;
        top: 0.2rem;    

    .jump-back {
        padding-top: 20%;
    }
}   

@media screen and (min-width: 768px) {
    .punchy-logo {
        transform: rotate(-25deg);
        margin-left: 5%;
        margin-bottom: -13%;
    }

    i {
        margin-bottom:11%;
    }

    main {
        max-width: 60%;
        border: 5px solid $highlight-color;
        border-radius: 3.2rem;
        background-color: $form-bg;
        }

    input, select {
        background-color: $primary-color;
    }

    .can-you-complete-card {
        max-width: 25rem;
        padding: 1rem;
        border-radius: 1.25rem;
        margin: auto;
    }

    .jump-back {
        padding-top: 10%;
    }
}

// I'm doing something wrong with specifying the screen resolutions with my media queries here and I'm not sure what it is. The spacing in the previous min-width is affecting the one below.

@media screen and (min-width: 770px) {
    .punchy-logo {
        transform: rotate(-30deg);
        margin-left: 12%;
    }

    nav {
        margin: auto;
        text-align: center;
        width: 75%;
        padding-left: 5%;
    }

    nav ul {
        list-style: none;
        display: inline;
    }

    nav ul li {
        list-style: none;
        display: inline;
        text-align: center;
        text-decoration: none;
        height: 3rem;
        line-height: 3rem;
        padding-left: 2%;
    }

    .jump-back {
        visibility: hidden;
    }
}