
@import 'fonts';
@import 'colors';

nav {
    text-align: right;
    width: 100%;
    margin-bottom: -3%;
}

nav ul {
	list-style: none;
    display: inline;
    
}

nav ul li {
	list-style: none;
	display: inline;
    text-align: center;
    text-decoration: none;
    height: 3rem;
    line-height: 3rem;
    padding-left: 3%;
}
