
@import 'fonts';
@import 'colors';

nav {
    margin:auto;
    text-align: center;
    width: 75%;
    margin-bottom: 5%;
    padding-top: 3%;
}

nav ul {
	list-style: none;
    display: inline;
    
}

nav ul li {
	list-style: none;
	display: inline;
    text-align: center;
    text-decoration: none;
    height: 3rem;
    line-height: 3rem;
    padding-left: 2%;
}
