
@import 'fonts';
@import 'colors';

// responsive nav for smaller sizes adapted from https://codepen.io/sayem-miaji/pen/poymaxE

.checkbtn {
    font-size: 2rem;
    color: #FFF;
    text-align: center;
    margin-top: 5%;
    margin-bottom: -11%;
    cursor: pointer;
    display: none;
  }
  
#check {
    display: none;
  }
  
@media (max-width: 952px) {
    nav ul li a{
      font-size: 1.5rem;
    }
  }
  
@media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    
ul{
    position: fixed;
    width: 100%;
    height: min-content;
    background: #E74b6dCC;
    text-align: baseline;
    padding-bottom: 5%;
    top: 30%;
    left: -769px;
    transition: all .5s;
    z-index: 999;
}

.current-page {
    color: $punchy-red;
    border-bottom: 4px solid $punchy-red;
    width: min-content;
    display: inline;
}

nav ul li{
    display: block;
    line-height: 3rem;
}

#check:checked ~ ul{
    left: 0;
    margin: auto;
}
  }
