/* Document-level elements */

body {
    background-color: #7386E7;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: #FFF;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: "Yellowtail", cursive;
    font-size: 72px;
    letter-spacing: 4px;
    line-height: 66px;
    filter: drop-shadow(3px 3px 1px #00168C);
    color: #e74b6d;
    opacity: 70%;
}

h1:hover {
    transition: ease-in 1s;
    opacity: 100%;
}

h2 {
    font-family: "Yellowtail", cursive;
    font-size: 64px;
    letter-spacing: 4px;
    text-align: right;
    filter: drop-shadow(3px 3px 1px #e74b6d);
}

h3 {
    font-family: "Yellowtail", cursive;
    font-size: 33px;
    filter: drop-shadow(3px 3px 1px #930000);
    text-transform: capitalize;
    margin-top: auto;
    margin-bottom: 1%;
}

.punchy-logo {
    max-width: 400px;
    text-align: center;
    transform: rotate(-30deg);
}

/* Main/form elements */

.title {
    width: 90%;
    align-self: baseline;
    margin: auto;
}

main {
    max-width: 80%;
    margin: auto;
    margin-top: -10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1;
    background-color: #6370B6;
    border: 5px solid #FF9F9F;
    border-radius: 50px;
}

form {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-field, .select-wrapper {
    padding-bottom: 5%;
}

.select-wrapper {
    box-sizing: border-box;
    flex-wrap: wrap;
    text-align: center;
}

input, select {
    border: 0;
    color: #FFF;
    outline: none;
    background-color: #6d7ed1;
}

input {
    width: 100%;
    padding: 1%;
    margin-top: 2%;
    border-bottom: 4px solid #FF9F9F;
}

input:focus {
    background: #7386E7;
    border-bottom: 4px solid #e74b6d;
}

input::placeholder {
    color: #FF9F9F;
    opacity: .5;
}

.select-wrapper__box {
    border: 4px solid #FF9F9F;
    max-width: 50%;
    margin: auto;
    margin-top: 2%;
}

.select-wrapper__box:hover {
    border: 4px solid #e74b6d;
}

input:hover {
    border-bottom: 4px solid #e74b6d;
}

select:focus {
    background-color: #7386E7;
    border: #e74b6d;
}

select {
    color: #FFF;
    width: 100%;
}

.can-you-complete-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e74b6d;
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    margin: auto;
}

.can-you-complete-card:hover {
    background-color: #d82a50;
}

.checkbox-wrapper {
    white-space: nowrap;
    padding-top: 2%;
  }

  .checkbox {
    vertical-align: top;
    display: inline-block;
    width: 42px;
    visibility: hidden;
  }

  .checkbox-label {
    white-space: normal;
    display: inline-block;
  }

.button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    padding-top: 5%;
}

button {
    font-family: "Yellowtail", cursive;
    font-size: 34px;
    color:#FFF;
    background-color: #FF9F9F;
    box-shadow: 0px 4px 4px rgba(0, 22, 140, 0.25);
    border-style: none;
    border-radius: 100px;
    width: 400px;
    height: 56px;
    padding: 3px;
}

button:hover {
    font-size: 42px;
}

.button__text {
    filter: drop-shadow(3px 3px 1px #b35a5a);
    }

/* Footer elements */

footer {
    transform: rotate(20deg);
    font-family: "Yellowtail", cursive;
    font-size: 30px;
    text-align: center;
    opacity: .7;
    color: #930000;
    margin-top: -1%;
}

footer a {
    color:#e74b6d;
    text-decoration: none;
}

footer a:hover {
    filter: drop-shadow(1px 1px 1px #00168C);
}
