/* Document-level elements */

body {
    margin: auto;
    background-color: #7386E7;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: #FFF;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Yellowtail", cursive;
    font-size: 72px;
    letter-spacing: 4px;
    line-height: 66px;
    filter: drop-shadow(3px 3px 1px #00168C);
    color: #e74b6d;
}

h2 {
    font-family: Oswald, sans-serif;
    font-size: 64px;
    letter-spacing: 4px;
    filter: drop-shadow(3px 3px 1px #e74b6d);
}

h3 {
    font-size: 33px;
    line-height: 1px;
    filter: drop-shadow(3px 3px 1px #930000);
    text-transform: uppercase;
}

.punchy-logo {
    max-width: 400px;
    text-align: center;
    position: absolute;
    top: -80px;
    left: -50px;
    transform: rotate(-45deg);
}

/* Main/form elements */

main {
    max-width: 800px;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #6370B6;
    border: 5px solid #FF9F9F;
    border-radius: 50px;

}

form {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-field, .select-wrapper {
    padding-bottom: 5%;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
}

.select-wrapper {
    box-sizing: border-box;
    flex-wrap: wrap;
    text-align: center;
}

input, select {
    border: 0;
    color: #FFF;
    outline: none;
    background-color: #6d7ed1;
}

input {
    width: 100%;
    padding:1%;
    margin-top: 2%;
    border-bottom: 4px solid #FF9F9F;
}

input:focus {
    background: #7386E7;
    border-bottom: 4px solid #e74b6d;
}

input::placeholder {
    color: #FF9F9F;
    opacity: .5;
}

.select-wrapper__box {
    border: 4px solid #FF9F9F;
    max-width: 50%;
    margin: auto;
    margin-top: 2%;
}

.select-wrapper__box:hover {
    border: 4px solid #e74b6d;
}

input:hover {
    border-bottom: 4px solid #e74b6d;
}

select:focus {
    background-color: #7386E7;
    border: #e74b6d;
}

select {
    color: #FFF;
    width: 100%;
}

/* 

    my select box is pretty darned broken, and I can't find
    a way to fix it with pure CSS alone:
    - the fonts won't show up in the drop-down box in FF
    - the placeholder text refuses to style
    - the highlight color is a default dark grey

    I was able to take a look at your example for the cat adoption thing
    and got it to work, but that only got me so far :/ 

*/

.can-you-complete-card {
    position: relative;
    background-color: #e74b6d;
    text-align: center;
    box-sizing: border-box;
    max-width: 60%;
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    margin: auto;
}

.can-you-complete-card:hover {
    background-color: #d82a50;
}

/* 

Checkbox styles below: I was having trouble figuring out how to do this, so I found a 
tutorial at enzymeui.com/blog/how-to-style-checkbox-with-css - it seems
to work okay on FF but it sits a little too low on Chrome.

*/

.label-text {
    position: relative;
    padding-top: 15%;
    font-size: 24px;
}

input[type=checkbox] {
    position: fixed;
    opacity: 0;
}

input[type=checkbox] + label {
    position: relative;
}

input[type=checkbox] + label .indicator {
    position: absolute;
    left: -20px;
    top: 30px;
    display: block;
    width: 24px;
    height: 24px;
    background: #6d7ed1;
    border: 4px solid #FF9F9F;
    cursor: pointer;
}

input[type=checkbox]:checked + label .indicator::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 16px;
    border: 4px solid #FFF;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    left: 6px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 5%;
}

button {
    font-family: "Yellowtail", cursive;
    font-size: 34px;
    color:#FFF;
    background-color: #FF9F9F;
    box-shadow: 0px 4px 4px rgba(0, 22, 140, 0.25);
    border-style: none;
    border-radius: 100px;
    margin: 0;
    width: 400px;
    height: 56px;
    padding: 3px;
}

button:hover {
    font-size: 42px;
}

.button__text {
        filter: drop-shadow(3px 3px 1px #b35a5a);

}

/* Footer elements */

footer {
    padding-bottom: 3%;
}

.thanks {
    transform: rotate(20deg);
    font-family: "Yellowtail", cursive;
    font-size: 30px;
    text-align: center;
    opacity: .7;
    color: #930000;
}

.thanks a {
    color:#e74b6d;
    text-decoration: none;
}

.thanks a:hover {
    filter: drop-shadow(1px 1px 1px #00168C);
}
